.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NAVBAR */

.navbar-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 15px;
  align-items: center;
}

/* USER DISPLAY */

.user-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin: auto;
  padding: 10px;
}

.user-avatar {
  width: 50px;
  height: 50px;
}

/* SORTBY */

.sort-by-container {
  border: 2px solid;
  display: flex;
  height: 10px;
  flex-direction: row;
  margin: auto;
  gap: 20px;
  padding: 15px;
  align-items: center;
}

/* ARTICLE LIST */

.article-list-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: auto;
  padding: 10px;
}

.article-card {
  border: 2px solid;
  display: grid;
  grid:
    "article-title article-title" 1fr
    "article-author article-author" 30px
    "article-vote-count article-comment-count" 1fr
    / 1fr 1fr;
  gap: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.article-title {
  margin: 5px;
  grid-area: article-title;
}

.article-vote-count {
  grid-area: article-vote-count;
}

.article-comment-count {
  grid-area: article-comment-count;
}

.article-author {
  grid-area: article-author;
  align-self: center;
}

.article-body {
  text-align: justify;
}

/* SINGLE ARTICLE */

.single-article-header {
  display: grid;
  grid:
    "single-article-title single-article-title" 1fr
    "single-article-author single-article-topic" 50px
    / 1fr 1fr;
  gap: 8px;
  padding: 10px;
}

.single-article-title {
  grid-area: single-article-title;
}
.single-article-author {
  grid-area: single-article-author;
}
.single-article-topic {
  grid-area: single-article-topic;
}
.single-article-body {
  text-align: justify;
  padding: 15px;
}

.vote-comment-footer {
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 20px;
  padding: 10px;
  align-items: center;
}

/* COMMENTS */

.comment-list-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  padding: 10px;
}

.comment-card {
  margin: auto;
  text-align: left;
  border: 1px dashed;
  padding: 10px;
  margin: 2px;
  width: 300px;
  word-wrap: break-word;
}

.comment-vote-count {
  padding: 4px;
}
