@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  font-family: "Raleway", sans-serif;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  background-color: rgb(236, 235, 235);
  color: rgb(20, 20, 20);
}

html {
  overflow-y: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  width: 360px;
  margin: 0 auto;
  padding: 10px 0px;
  /* border: 3px solid rgba(148, 148, 148, 0.445);
  border-radius: 0.1cm; */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='360' height='57' preserveAspectRatio='none' viewBox='0 0 360 57'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1024%26quot%3b)' fill='none'%3e%3cpath d='M11 57L68 0L138.5 0L81.5 57z' fill='url(%23SvgjsLinearGradient1025)'%3e%3c/path%3e%3cpath d='M68.4 57L125.4 0L153.9 0L96.9 57z' fill='url(%23SvgjsLinearGradient1025)'%3e%3c/path%3e%3cpath d='M124.80000000000001 57L181.8 0L214.8 0L157.8 57z' fill='url(%23SvgjsLinearGradient1025)'%3e%3c/path%3e%3cpath d='M189.20000000000002 57L246.20000000000002 0L294.20000000000005 0L237.20000000000002 57z' fill='url(%23SvgjsLinearGradient1025)'%3e%3c/path%3e%3cpath d='M356 57L299 0L237.5 0L294.5 57z' fill='url(%23SvgjsLinearGradient1026)'%3e%3c/path%3e%3cpath d='M288.6 57L231.60000000000002 0L215.10000000000002 0L272.1 57z' fill='url(%23SvgjsLinearGradient1026)'%3e%3c/path%3e%3cpath d='M239.2 57L182.2 0L96.69999999999999 0L153.7 57z' fill='url(%23SvgjsLinearGradient1026)'%3e%3c/path%3e%3cpath d='M179.79999999999998 57L122.79999999999998 0L43.29999999999998 0L100.29999999999998 57z' fill='url(%23SvgjsLinearGradient1026)'%3e%3c/path%3e%3cpath d='M319.137207819222 57L360 16.137207819222027L360 57z' fill='url(%23SvgjsLinearGradient1025)'%3e%3c/path%3e%3cpath d='M0 57L40.86279218077797 57L 0 16.137207819222027z' fill='url(%23SvgjsLinearGradient1026)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1024'%3e%3crect width='360' height='57' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1025'%3e%3cstop stop-color='rgba(109%2c 109%2c 109%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(109%2c 109%2c 109%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1026'%3e%3cstop stop-color='rgba(109%2c 109%2c 109%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(109%2c 109%2c 109%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.title-line {
  /* border: 2px solid black; */
  border: 0;
  margin: 0 auto;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.line {
  /* border: 2px solid black; */
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.home-info {
  /* border: 2px solid; */
  width: 300px;
  margin: 50px auto;
}

/* NAVBAR */

.navbar-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  align-items: center;
}

.navbar-container a {
  text-decoration: dotted black;
  font-weight: bold;
  padding: 4px;
  /* border: 1px solid rgba(148, 148, 148, 0.445); */
  border-radius: 0.1cm;
}

/* SORT-BY */

.sort-by {
  margin: 8px auto;
  /* border: 2px solid; */
  width: 300px;
  font-size: 14px;
}

.sort-dropdown {
  border-radius: 0.1cm;
  border: 1px solid rgba(148, 148, 148, 0.445);
}

/* USER DISPLAY */

.user-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 10px;
  border-radius: 0.2cm;
  align-items: center;
  justify-content: space-around;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(107, 107, 107, 0.527);
  border-radius: 0.2cm;
  filter: grayscale(100%);
}

/* TOPICS */

.topic-container {
  /* border: 2px solid; */
  border: 1px solid rgba(107, 107, 107, 0.527);
  border-radius: 0.1cm;
  /* border: 1px solid rgba(148, 148, 148, 0.445); */
  border-radius: 0.1cm;
  display: flex;
  height: 10px;
  flex-direction: row;
  margin: auto 20px;
  justify-content: space-around;
  padding: 10px;
  margin-bottom: 18px;
  align-items: center;
  /* font-size: small; */
}

.topic-container a {
  text-decoration: none;
  /* border: 1px solid rgba(148, 148, 148, 0.445); */
  border-radius: 0.1cm;
  padding: 4px;
  font-size: small;
}

/* ARTICLE LIST */

.article-list-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: auto;
  padding: 10px;
  height: 420px;
  overflow-y: auto;
  /* border: 2px solid; */
}

.article-list-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
.article-list-container::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.article-list-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.article-card {
  border: 2px solid rgba(148, 148, 148, 0.445);
  border-radius: 0.1cm;
  display: grid;
  grid:
    "article-title article-title" 1fr
    "article-author article-author" 30px
    "article-vote-count article-comment-count" 0.5fr
    / 1fr 1fr;
  gap: 8px;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  /* justify-content: space-around; */
}

.article-title {
  margin: 5px;
  grid-area: article-title;
  /* text-decoration-style: dotted; */
  font-weight: 900;
}

.article-vote-count {
  grid-area: article-vote-count;
}

.article-comment-count {
  grid-area: article-comment-count;
}

.article-author {
  grid-area: article-author;
  align-self: center;
  font-weight: 100;
}

.article-body {
  text-align: justify;
}

/* SINGLE ARTICLE */

.single-article-container {
  /* border: 1px solid; */
  height: 500px;
  overflow-y: scroll;
}

.single-article-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
.single-article-container::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.single-article-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.single-article-header {
  /* height: 100px; */
  display: grid;
  grid:
    "single-article-title single-article-title" 1fr
    "single-article-author single-article-topic" 30px
    / 1fr 1fr;
  gap: 8px;
  align-items: center;
  padding: 10px;
}

.single-article-title {
  grid-area: single-article-title;
  margin: 10px auto;
}
.single-article-author {
  grid-area: single-article-author;
  font-weight: 200;
}
.single-article-topic {
  grid-area: single-article-topic;
  font-weight: 200;
}
.single-article-body {
  text-align: justify;
  padding: 15px;
}

button,
input {
  border-color: rgba(148, 148, 148, 0.445);
  border-radius: 0.1cm;
  margin: 8px;
  font-family: sans-serif;
  font-size: 0.9rem;
  transition: background 150ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
input:hover {
  transform: translate(0, -2px);
}

.vote-comment-footer {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  gap: 30px;
  padding: 10px;
  align-items: center;
  /* justify-content: space-around; */
}

.voting-container {
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: center;
}

.vote-up-button {
  margin: auto 5px;
}

.vote-down-button {
  margin: auto 5px;
}

/* COMMENTS */

.submit-comment-container {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
}

.new-comment-textbox {
  /* border: 1px solid red; */
  resize: vertical;
  padding: 10px;
  width: 250px;
  margin: 0 auto;
}

.new-comment-submit-button {
  width: 100px;
  margin: 10px auto;
}

.comment-list-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  padding: 10px;
}

.comment-card {
  margin: auto;
  text-align: left;
  /* border: 2px dotted; */
  border: 1px solid rgba(148, 148, 148, 0.445);
  border-radius: 0.2cm;
  padding: 10px;
  margin: 5px;
  width: 300px;
  word-wrap: break-word;
}

.comment-vote-count {
  padding: 4px;
  margin-top: 10px;
  font-size: 14px;
}

.comment-author {
  margin: 5px auto;
}

.comment-body {
  margin-top: 15px;
}
